* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 0.3rem;
}
main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}
main .left {
  background-color: #000000;
  position: relative;
}
.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #202020;
}
main .right {
  background-color: #464646;
  padding: 1rem 2rem;
  font-size: 18px;
  color: white;
  overflow: auto;
}
main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: rgb(3, 114, 3);
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
